.email {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.label {
  font-size: 1.3em;
}
.butNom {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.butEmail {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.butPrenom {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.But {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Button {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.nom {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.prenom {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.but {
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  width: 20%;
  background-color: white;
  color: black;
  padding: 12px;
  margin: 8px 0;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #ccc ;
  text-transform: uppercase;
  display: block;
  margin: auto;
}

.titleContact {
  text-align: center;
  font-size: 3em;
  padding-top: 60px;
  padding-bottom: 20px;
}

.general {
  width: 100%;
}
.captcha-check {
  width: 60%;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
.captcha {
  width: 60%;
  margin-bottom: 40px;
}
.modalite {
  width: 60%;
  text-align: justify;
  background-color: white;
  font-weight: bold;
  opacity: 0.7;
  height: 2%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .captcha-check {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .button {
    margin-top: 9%;
    width: 60%;
  }
  .butNom {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .butEmail {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .butPrenom {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .But {
    width: 100%;
  }
  .Button {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .modalite {
    width: 100%;
  }
  .captcha {
    width: 100%;
  }
.ajout-date{
  width: 60%;
  margin-bottom: 1%;
}
}
