.title-home {
  text-align: center;
  margin-top: 5%;
  font-size: 4.7em;
  text-align: center;
  font-family: "Oswald", Helvetica, sans-serif;
  transform: skewY(-6deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: white;
  text-shadow: -1px -1px 0 Black, -2px -2px 0 Black, -3px -3px 0 Black,
    -4px -4px 0 Black, -5px -5px 0 Black, -6px -6px 0 Black, -7px -7px 0 Black,
    -8px -8px 0 Black, -30px 20px 40px dimgrey;
}
.subtitle-home {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 3%;
  font-size: 3em;
}
.text-home {
  text-align: center;
}
.texte {
  font-size: 1.5em;
}



@media screen and (max-width: 768px) {
  .title-home {
    font-size: 2.7em;
  }
}